<div class="rows profile-page">
  <h1 class="page-title user-profile"> <%= @user.name %>'s Profile </h1>
  <div class="columns rows">
    <div class="profile-photo columns medium-4">
      <%= image_tag(@user.profile_photo.url(:thumb).to_s) %>
    </div>
    <div class="profile-info columns medium-8">
      <h4>Username: <%= @user.name %></h4>
      <h4>Account Type: <%= current_user.admin? ? 'admin': "user" %></h4>
      <h4>Email: <%= @user.email %></h4>
    </div>
  </div>
<div class="rows columns edit-profile-click ">
  <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: "submit-button"%>
</div>
